#matchTable{
	
margin: auto;
font-family: Impact; 
color: white;
font-size:72px;
width:80%;
-webkit-text-stroke: 3px black; /* width and color */

}

#matchTable, td{
	
padding-bottom: 300px;
text-align: center;

}